# Supabase Configuration
VITE_SUPABASE_URL=https://ityjoygbvbcvnxcwoqve.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0eWpveWdidmJjdm54Y3dvcXZlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDkwNjEzMjEsImV4cCI6MjA2NDYzNzMyMX0.doCPIJ6jTAa83oWs6kPB8P-pEAZ-tKg0UQIm_M7n6JY